<div class="container">
  <h1>Hola este es mi primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>
  <hr>
  <h2>{{'Hola'.repeat(6)}}</h2>
  <p>La suma de 3 + 3 es {{3+3}}</p>
  <!-- Las varibles llamadas deben tener un acceso puplico y se llaman con {{}} -->
  <p>Hola, bienvenido {{name()}} y mi edad es {{ age }}</p>
  <hr>
  <img [src]="img" alt="">
  <!-- Se encierra en [] la propiedad para indicar que trae un valor dinamico -->
  <input type="text" [value]="name()">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person.name }}</p>
  <hr>
  <!-- Para eventos se utilizan los () -->
  <button (click)="clickHandler()">Click me</button>
  <br>
  <button (dblclick)="clickHandler()">Double me</button>
  <!-- Change desata los elementos de tipo input, los eventos que estan constridos desde angular se les antepone el signo pesos $ -->
  <p>(change)</p>
  <input type="number" [value] = "person.age" (change)="changeHandler($event)">
  <!-- Cuando una tecla se esta oprimiendo -->
  <p>(kydown)</p>
  <input type="text" [value] = "person.name" (keydown)="keydownHandler($event)">
  <!-- Cuando se haga una combinación o se este oprimiendo una tecla puntual -->
  <p>(kydown especifico)</p>
  <input type="text" [value] = "person.name" (keydown.shift.p)="clickHandler()">
  <p>Singnals</p>
  <input type="text" [value] = "name()" (change)="changeHandler($event)">
  <p>name : {{name()}}</p>
  <hr>
  <ul>
    <!-- Integramos funciones propias de signal por ejemplo para saber la pocisión del elemento -->
     <p>Total: {{ tasks().length}}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{ i }} {{ task }}
    </li>
  </ul>
</div>
